nav ul ul {
    display: none;
}

nav ul li ul li {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0em;
}

nav ul li:hover > ul {
    display: block;
}

nav ul ul {
    background: #383B43; border-radius: 0px; padding: 0;
    position: absolute; top: 100%;
}
nav ul ul li {
    padding-right: 7%;
    list-style-type: none;
    float: none; 
    border-radius: 4px;
}
nav ul ul li a {
    color: #fff;
}   

nav ul ul ul {
    position: absolute; left: 100%; top:0;
}

