{% extends "layout.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <div class="container">

        <section>
            <h2>Login</h2>
            <div class="container 50%">
                <form action="login" method="post">
                    <div class="row uniform">
                        <div class="6u 12u$(small)">
                            <input name="email" id="email" value="" placeholder="Email" type="text">
                        </div>
                        <div class="6u$ 12u$(small)">
                            <input name="password" id="password" value="" placeholder="Password" type="password">
                        </div>
                        <div class="12u$">
                            <ul class="actions">
                                <li><input id="submitLogin" value="Login" class="special big" type="submit"></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </section>

        <hr />

        <section>
            <h2>Create User</h2>

            <div class="container 50%">
                <form action="createuser" method="post">
                    <div class="row uniform">
                        <div class="6u 12u$(small)">
                            <input name="email" id="email" value="" placeholder="Email" type="text">
                        </div>
                        <div class="6u 12u$(small)">
                            <input name="firstName" id="firstName" value="" placeholder="First Name" type="text">
                        </div>
                        <div class="6u 12u$(small)">
                            <input name="lastName" id="lastName" value="" placeholder="Last Name" type="text">
                        </div>
                        <div class="6u$ 12u$(small)">
                            <input name="password" id="password" value="" placeholder="Password" type="password">
                        </div>
                        <div class="12u$">
                            <ul class="actions">
                                <li><input id="submitCreateUser" value="Create User" class="special big" type="submit"></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</section>
{% endblock %}
