{% extends "with-forms.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <div class="container">
        <section>
            <h2>Login</h2>
            <div class="container 50%">
                <form class="parsley-form" id="loginForm" action="{{ url_for("login") }}" method="post">
                    <div class="row uniform">
                        <div class="6u 12u$(small)">
                            <input name="email" placeholder="Email Address"
                                type="email" data-parsley-trigger="change" required>
                        </div>
                        <div class="6u$ 12u$(small)">
                            <input name="password" placeholder="Password"
                                type="password" required>
                        </div>
                        <div class="12u$">
                            <ul class="actions">
                                <li><input id="submitLogin" value="Login" class="special big" type="submit"></li>
                            </ul>
                        </div>
                    </div>
                </form>
                {% if loginForm.errors %}
                    <div class="error">
                        <ul>
                            {% for field_name, field_errors in loginForm.errors|dictsort if field_errors %}
                                {% for error in field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </section>

        <hr />

        <section>
            <h2>Register</h2>
            <div class="container 50%">
                <form class="parsley-form" id="registerForm" action="{{ url_for("register") }}" method="post">
                    <div class="row uniform">
                        <div class="12u">
                            <input name="email" placeholder="Email Address" type="email" 
                            data-parsley-trigger="change" data-parsley-remote="{{ url_for("validnewuser") }}"
                            data-parsley-remote-message="This email has already been registered." required>
                        </div>
                        <div class="6u 12u$(small)">
                            <input name="firstName" value="" placeholder="First Name" type="text" required>
                        </div>
                        <div class="6u$ 12u$(small)">
                            <input name="lastName" value="" placeholder="Last Name" type="text" required>
                        </div>
                        <div class="6u 12u$(small)">
                            <input name="password" value="" placeholder="Password" type="password" required>
                        </div>
                        <div class="6u$ 12u$(small)">
                            <input name="confirm" value="" placeholder="Confirm Password"
                            type="password" data-parsley-equalto="#registerForm input[name=password]" 
                            data-parsley-equalto-message="Passwords don't match." required>
                        </div>
                        <div class="12u$">
                            <ul class="actions">
                                <li><input id="submitCreateUser" value="Create User" class="special big"
                                    type="submit"></li>
                            </ul>
                        </div>
                    </div>
                </form>
                {% if registerForm.errors %}
                    <div class="error">
                        <ul>
                            {% for field_name, field_errors in registerForm.errors|dictsort if field_errors %}
                                {% for error in field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
    </div>
</section>
{% endblock %}

{% block inlineJS %}
<script>
    $(".parsley-form").parsley();
</script>
{% endblock %}
