{% extends "with-forms.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <div class="container">

        <section>
            <h2>Login</h2>
            <div class="container 50%">
                <form class="parsley-form" action="{{ url_for("login") }}" method="post">
                    <div class="row uniform">
                        <div class="6u 12u$(small)">
                            <input name="email" placeholder="Email"
                                type="email" data-parsley-trigger="change" required>
                        </div>
                        <div class="6u$ 12u$(small)">
                            <input name="password" id="password" value="" placeholder="Password" type="password" required>
                        </div>
                        <div class="12u$">
                            <ul class="actions">
                                <li><input id="submitLogin" value="Login" class="special big" type="submit"></li>
                            </ul>
                        </div>
                    </div>
                </form>
                {% if wrongPassword %}
                    <p class="error">
                        The password did not match the given username. Please try again.
                    </p>
                {% endif %}
            </div>
        </section>

        <hr />

        <section>
            <h2>Create User</h2>

            <div class="container 50%">
                <form class="parsley-form" action="{{ url_for("createuser") }}" method="post">
                    <div class="row uniform">
                        <div class="6u 12u$(small)">
                            <input name="email" placeholder="Email" type="email" data-parsley-trigger="change" 
                            data-parsley-remote="{{ url_for("validnewuser") }}" required>
                        </div>
                        <div class="6u 12u$(small)">
                            <input name="firstName" id="firstName" value="" placeholder="First Name" type="text">
                        </div>
                        <div class="6u 12u$(small)">
                            <input name="lastName" id="lastName" value="" placeholder="Last Name" type="text">
                        </div>
                        <div class="6u$ 12u$(small)">
                            <input name="password" id="password" value="" placeholder="Password" type="password">
                        </div>
                        <div class="12u$">
                            <ul class="actions">
                                <li><input id="submitCreateUser" value="Create User" class="special big" type="submit"></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</section>
{% endblock %}

{% block inlineJS %}
<script>
    $(".parsley-form").parsley();
</script>
{% endblock %}
