<!-- Header -->
<header id="header">
    <h1><a href="{{ url_for("index") }}">{{ projVars.projectName }}</a></h1>
    <nav id="nav">
        <ul>
            {# TODO Also iterate through submenus #}
            {% for m in projVars.menus %}
                <li><a href="{{ url_for(m.routeFuncName) }}">{{ m.name }}</a></li>
            {% endfor %}

            {% if current_user.is_authenticated() %}
                <li><a href="{{ url_for("index") }}">{{ current_user.get_id() }}</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
